.text-center {
    text-align: center;
}

.fill-remaining-space {
    // 使用flexbox 填充剩余空间 达到水平居中
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.text-right {
    text-align: end;
}

.nomargin {
    margin: 10px !important;
}
