html,
body,
coopwith-root,
mat-sidenav-container,
.coopwith-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}

.coopwith-wrap {
    display: flex;
    flex-direction: column; // .coopwith-header {}
    .coopwith-content {
        transform: translate(0, 0);
        flex: 1;
    } // .coopwith-footer {}
}
