<mat-list-item class="container" [@taskItemAni]="taskItemAniState" [ngClass]="{'priority-normal': taskItemData.priority === 1, 'priority-important': taskItemData.priority === 2, 'priority-emergency': taskItemData.priority === 3}">
    <!-- <mat-list-item class="container" [@taskItemAni]="taskItemAniState"> -->
    <mat-checkbox class="completion-status" [checked]="taskItemData.completed" (click)="ev = $event; ev.stopPropagation()"></mat-checkbox>
    <section class="content" mat-line>
        <span [matTooltip]="taskItemData.desc">{{ taskItemData.desc }}</span>
    </section>
    <section class="bottom-bar" mat-line>
        <span class="due-date" *ngIf="taskItemData.dueDate">{{ taskItemData.dueDate | date: 'yyyy-MM-dd' }}</span>
        <mat-icon class="alarm" *ngIf="taskItemData.dueDate">alarm</mat-icon>
    </section>
    <mat-icon class="avatar" [svgIcon]="avatar" mat-list-avatar></mat-icon>
</mat-list-item>
