<mat-card>
    <mat-card-header>
        <mat-card-title>登录</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example-full-width" color="warn" hintLabel="email必填" align="end">
                <span matPrefix>我是前缀</span>
                <input matInput placeholder="您的email">
                <span matSuffix>我是后缀</span>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <p>还没有账户？
            <a href="">注册</a>
        </p>
        <p>忘记密码？
            <a href="">找回</a>
        </p>
    </mat-card-actions>
</mat-card>
