.task-lists {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    .list-container {
        overflow-y: auto;
        overflow-x: hidden;
        border-right: 2px solid #f0f0f0;
    }
}

.fab-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 998;
}

.drag-enter {
    background-color: dimgray;
}
