<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
        <coopwith-sidebar></coopwith-sidebar>
    </mat-sidenav>

    <section class="coopwith-wrap">
        <header class="coopwith-header">
            <coopwith-header (toggleSidebar)="sidenav.open()"></coopwith-header>
        </header>

        <section class="coopwith-content">
            <router-outlet></router-outlet>
        </section>

        <footer class="coopwith-footer">
            <coopwith-footer></coopwith-footer>
        </footer>
    </section>

</mat-sidenav-container>
