<form>
    <h2 mat-dialog-title>{{ taskItemData ? '编辑任务' : '新建任务' }}</h2>
    <section mat-dialog-content>
        <mat-form-field class="full-width">
            <input matInput name="taskItemDesc" placeholder="任务内容" type="text">
        </mat-form-field>

        <mat-radio-group>
            <mat-radio-button class="priority-item" *ngFor="let priorityItem of priorities" [value]="priorityItem.value">
                {{ priorityItem.label }}
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="full-width">
            <input matInput name="taskStartDate" [matDatepicker]="taskStartDate" placeholder="任务截止日期">
            <mat-datepicker-toggle matSuffix [for]="taskStartDate"></mat-datepicker-toggle>
            <mat-datepicker #taskStartDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="taskReminderDate" placeholder="任务提醒日期">
            <mat-datepicker-toggle matSuffix [for]="taskReminderDate"></mat-datepicker-toggle>
            <mat-datepicker #taskReminderDate></mat-datepicker>
        </mat-form-field>
    </section>

    <section mat-dialog-actions>
        <button type="button" mat-raised-button color="primary" (click)="save()">保存</button>
        <button type="button" mat-button mat-dialog-close>取消</button>
    </section>
</form>
